*
{
	font-family:arial;
}
.topheader
{
	background-color:red;
	min-height:35px;
	color:white;
	font-size:16px;
}
.topheader a
{
	padding-top:8px;
}
.topheader a
{
	float:right;
	color:white;
	font-weight:bold;
	margin:7px;
}